.rating{
  width: 175px;
  padding-right: 0;
}
.reviews{
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  width: 125px;
}
.write{
  padding-top: 2px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100px;
}
.slider {
  padding: 0;
  user-select: none;
}