<section class="greyboard-block">
  <div class="container">
    <p>
      Uh oh! Looks like your account isn't set up because you haven't verified
      your email address yet. Please check your email inbox and click on the
      verification link.
    </p>
    <p class="layout-check">
      <ng-content select=".layout-verification"></ng-content>
      <a class="layout-send-email" href="" tabindex="1" (click)="sendEmailForVerified()">
        <ng-content select=".layout-send-email"></ng-content>
      </a>
    </p>
  </div>
</section>
