<app-layout-auth-password-reset-confirm-casing>
  <form [formGroup]="form" (ngSubmit)="performSubmit()">
    <app-layout-auth-password-reset-confirm-change>
      <rt-input-block  class = "layout-new-password" placeholder="New Password" type="password" name='new_password1' [label]="labels['password1']" [form]="form"
        [errors]="formErrors"></rt-input-block>
      <rt-input-block  class = "layout-password-confirm" placeholder="Confirm new Password" type="password" name='new_password2' [label]="labels['password2']" [form]="form"
        [errors]="formErrors"></rt-input-block>
      <button class = "layout-btn-reset" mat-flat-button  color="primary" type="submit" data-loading-text="Sending...">Reset
        password</button>
      </app-layout-auth-password-reset-confirm-change>
  </form>
</app-layout-auth-password-reset-confirm-casing>
