.rating {
  width: 175px;
  padding-right: 0;
}
.reviews {
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  width: 115px;
}
.title {
  font-size: 17.5px;
  padding-top: 3px;
  padding-left: 0;
}
.body {
  padding: 0 5px 5px 5px;
  margin: 0;

}
.user{
  padding: 0 5px 5px 5px;
  margin: 0;
  
}
.votes {
  padding: 5px;
  margin-bottom: 10px;
}