<app-layout-auth-password-reset-cover>
  <form [formGroup]="form" class="reset" (ngSubmit)="performSubmit()">
    <app-layout-auth-password-reset-shape>
      <rt-input-block class="layout-pass-email" name='email' [label]="labels['email']" [form]="form" [errors]="formErrors"></rt-input-block>
      <button class = 'layout-btn' mat-flat-button [disabled]="loading$ | async" color="primary" type="submit" data-loading-text="Sending...">Send reset email</button>
    </app-layout-auth-password-reset-shape>
  </form>
</app-layout-auth-password-reset-cover>
