<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <article class="product_pod">
        <div class="image_container">
            <a class="layout-basket-add-recommended-link" [routerLink]="['/catalogue', settings.formatProductUrl(item)]">
                <img src="{{item?.image?.thumb || '/assets/img/image_not_found.jpg' }}" alt="item.image" class="thumbnail">
            </a>
        </div>
        <h3><a class="layout-basket-add-recommended-link-next" [routerLink]="['/catalogue', settings.formatProductUrl(item)]">{{item?.title}}</a></h3>
        <div class="product_price">
            <p class="layout-basket-add-recommended-price price_color">{{ item?.price_data?.excl_tax | currency:item?.price_data?.currency }}</p>
        </div>
    </article>
</div>

